*{
    margin: 0;
    padding: 0;
}

.content{
    margin: auto;
    max-width: 1340px;
    padding: 0 50px;
}

:root{
    --back-color:#A8D5BA;
    --section-color:#F4E1C1;
}

body{
    background-color: var(--back-color);
}