@font-face {
    font-family: "Roboto";
    src: url("../font/ROBOTO-REGULAR.TTF");
}

:root{
    --text-color: #333333;
    --warn-color: #3A5A2A;
}

*{
    font-family: "Roboto";
    color: var(--text-color);
}

h1{
    font-size: 44px;
    font-weight: 400;
    text-transform: uppercase;
}

h2{
    font-size: 36px;
    font-weight: 400;
    margin-bottom: 50px;
}

span{
    color: var(--warn-color);
}