.reviewsSection{
    padding: 50px 0;

    .content{
        display: flex;
        flex-direction: column;

        .list{
            display: flex;
            flex-wrap: wrap;
            gap: 30px;

            article{
                width: calc(33% - (30px * 2 / 3) - 40px);
                height: fit-content;

                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                gap: 10px;

                background-color: var(--section-color);
                padding: 20px;
                border-radius: 10px;

                .userInfo{
                    display: flex;
                    justify-content: flex-start;
                    gap: 10px;

                    img{
                        width: 50px;
                        height: 50px;
                        object-fit: cover;
                        border-radius: 50%;
                    }

                    .textContainer{
                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;

                        p{
                            font-size: 20px;
                        }

                        .starContainer{
                            display: flex;
                            gap: 5px;

                            img{
                                width: 15px;
                                height: 15px;
                                object-fit: contain;
                            }
                        }
                    }
                }

                .content{
                    padding: 0;
                    margin: 0;
                }
            }
        }
    }
}

@media (max-width: 360px) {
    .reviewsSection{
        padding: 20px 0;
    
        .content{
            .list{
                gap: 10px;
    
                article{
                    width: calc(100% - 20px);
                    padding: 10px;
    
                    .userInfo{
                        display: flex;
                        justify-content: flex-start;
                        gap: 10px;
    
                        img{
                            width: 30px;
                            height: 30px;
                            object-fit: cover;
                            border-radius: 50%;
                        }
    
                        .textContainer{
                            p{
                                font-size: 16px;
                            }
    
                            .starContainer{
                                display: flex;
                                gap: 5px;
    
                                img{
                                    width: 10px;
                                    height: 10px;
                                }
                            }
                        }
                    }
    
                    .content{
                        padding: 0;
                        margin: 0;

                        p{
                            font-size: 14px;
                        }
                    }
                }
            }
        }
    }
    
}